html {
    color: black;
    font-family: sans-serif;
}

body {
    margin: 0;
}

.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

h1 {
    text-shadow: 
    10px 10px 0 rgb(255, 121, 233),
    -13px -13px 0 blue,
    -130px -130px 0 rgb(107, 218, 255),
    130px 130px 0 rgb(87, 255, 87);
    font-size: 100px;
}